# Secrets
.env
git_token.txt

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Eleventy
_site/
.11ty-cache/

# Linter caches
.eslintcache
.stylelintcache
