<div id="get-involved" class="bg-brand-light-blue">
    <section class="container py-5 section-spacing">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-8 text-center bg-white rounded-4 shadow mt-4 p-3">
                {% image "/images/get-involved.svg", "Get Involved", "100vw", "img-fluid pt-4 px-2", "lazy", "max-width: 100%; height: auto; max-height: 200px;" %}
                <div class="p-4">
                     <p>Girton Feast is a community event run by local volunteers for the benefit of the village.</p>
                 </div>
                <div class="py-5 pt-1">
                    <div class="row justify-content-center g-4 mb-5 text-start">
                        <div class="col-md-4">
                            <div class="p-3 bg-light rounded-1 h-100 border-start shadow-sm">
                                <h5 class="fw-bold text-brand-marian-blue mb-2">
                                    Volunteer
                                </h5>
                                <p class="mb-0 small">From hanging up bunting to helping with the beer tent, there are lots of ways to get involved.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 bg-light rounded-1 h-100 border-start shadow-sm">
                                <h5 class="fw-bold text-brand-thulian-pink mb-2">
                                    Sponsor
                                </h5>
                                <p class="mb-2 small">We're looking for sponsors.
                                </p>
                            </div>
                        </div>
                    </div>

                    <a href="{{ "/pages/contact.html" | url }}" target="_blank" rel="noopener noreferrer"
                        class="btn btn-lg fw-bold px-5 py-3 shadow hover-scale transition-300 animate-pulse"
                        style="background-color: #FFC107; color: #000; font-size: 1.4rem; border-radius: 50px; border: none;">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
