<section id="hero-section" class="hero-v2 container-fluid">
    <div class="container pt-5 pb-2">
        <div class="row align-items-start">
            <!-- Left Column: Content -->
            <!-- Left Column: Content -->
            <div class="col-12 mb-5 text-center hero-v2-content-col">
                <div class="hero-v2-header">
                    <h1 class="hero-v2-title mb-4">
                        Girton<br>Feast<span class="hero-v2-year ps-1 pb-2">{% year %}</span>
                    </h1>
                </div>

                <div class="hero-v2-detail">
                    <p class="mb-1">Fri 10th July - Evening concert</p>
                    <p class="mb-1">Sat 11th July - Village Fete</p>
                    <p>Girton Recreation Ground</p>
                </div>

                <div class="hero-v2-buttons mt-4 d-flex flex-wrap gap-5 justify-content-center">
                    {% from "components/sticker-button.njk" import stickerButton %}

                    <div class="d-flex flex-column">
                        <a class="switcher-btn switcher-btn-mint rotate-neg-2" href="https://www.ticketsource.com/girtonfeast" target="_blank">
                            <i class="fas fa-ticket-alt me-2"></i>Get Concert tickets →
                        </a>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <a class="switcher-btn switcher-btn-white rotate-pos-2" href="#activities">
                            See fête activities →
                        </a>
                        <p class="text-muted small mt-2 mb-0 text-center">* free entry</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
