<footer class="bg-brand-marian-blue text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row align-items-center justify-content-center">
            <!-- Logo Placeholder Column -->
            <div class="col-md-4 col-lg-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4" style="color: var(--brand-saffron);">Part of</h6>
                <img src="../images/gvc_logo.png" class="p-3 rounded d-flex align-items-center justify-content-center" style="min-height: 80px; max-height: 100px;">
            </div>

            <!-- Social Links Column -->
            <div class="col-md-4 col-lg-3 mx-auto mb-4 text-center">
                <h6 class="text-uppercase fw-bold mb-4" style="color: var(--brand-saffron);">Follow Us</h6>
                <a href="https://www.facebook.com/GirtonFeastWeek" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://youtu.be/0FqhvdgCn3E?si=2SnO4hMgtZKrgjjJ" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
                <a href="https://nextdoor.co.uk/search/?view=detail&init_source=search&query=%23girtonfeast&ccid=93bf984a-9a4c-401f-a5f8-c9bdcf0ba673&navigationScreen=POST&ssid=9fddbc32-dc0e-4d66-b684-c5e393c3f17a" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button" aria-label="Nextdoor"><img src="../images/nextdoor-icon.svg" alt="Nextdoor" style="width: 1em; height: 1em; vertical-align: -0.125em;"></a>
                <p class="mt-3 mb-0 fs-5" style="font-family: 'Sigmar One', cursive; color: var(--brand-thulian-pink);">
                    #GirtonFeast
                </p>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © <span id="copyright-year">2025</span> Girton Village Celebrations
    </div>
</footer>