<nav class="mobile-bottom-nav d-md-none">
    <a href="../index.html" class="mobile-nav-item">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="../pages/entertainment.html" class="mobile-nav-item">
        <i class="fas fa-music"></i>
        <span>What's On</span>
    </a>
    <a href="../pages/map.html" class="mobile-nav-item">
        <i class="fas fa-map-marked-alt"></i>
        <span>Map</span>
    </a>
    <a href="../pages/food.html" class="mobile-nav-item">
        <i class="fas fa-utensils"></i>
        <span>Food</span>
    </a>
</nav>