---
layout: layouts/base.njk
title: Entertainment - Girton Feast
permalink: /pages/entertainment.html
bodyClass: bg-brand-glaucous
---

<main id="gallery-placeholder" class="container-xxl my-5" x-data="galleryBrowser('entertainment')">
    {% include "components/gallery-content.njk" %}
</main>
