---
layout: layouts/base.njk
title: Food & Drink - Girton Feast
permalink: /pages/food.html
bodyClass: bg-brand-glaucous
---

<main id="gallery-placeholder" class="container-xxl my-5" x-data="galleryBrowser('food')">
    {% include "components/gallery-content.njk" %}
</main>
