---
layout: layouts/base.njk
title: Interactive Map - Girton Feast
bodyClass: map-fullscreen-page
permalink: /pages/map.html
---

{% block extra_head %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<style>
    #map { height: calc(100vh - 80px); width: 100%; }
</style>
{% endblock %}

<div id="map"></div>

{% block extra_scripts %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
    // Initialize Leaflet Map
    var mapWidth = 1190;
    var mapHeight = 842;
    var map = L.map('map', { crs: L.CRS.Simple });
    var bounds = [[0, 0], [mapHeight, mapWidth]];
    L.imageOverlay('/images/map.png', bounds).addTo(map);

    var zoom = map.getBoundsZoom(bounds, true);

    map.setView([mapHeight / 2, mapWidth / 2], zoom);
    map.setMinZoom(zoom / 10);
    map.setMaxBounds(bounds);

    var points = [
        { name: "Main Stage", coords: [100, 1000], info: "Live music and performances all weekend!" },
        { name: "Food Court", coords: [300, 800], info: "A variety of food stalls and drinks." },
        { name: "Play Ground", coords: [700, 10], info: "Games and activities for children." }
    ];
    points.forEach(function (point) {
        L.marker([point.coords[0], point.coords[1]])
            .addTo(map)
            .bindPopup("<b>" + point.name + "</b><br>" + point.info);
    });
</script>
{% endblock %}
