---
pagination:
  data: navItems
  size: 1
  alias: nav
permalink: false
eleventyNavigation:
  key: "{{ nav.key }}"
  parent: "{{ nav.parent }}"
  order: "{{ nav.order }}"
  url: "{{ nav.url }}"
  icon: "{{ nav.icon }}"
  isHeader: "{{ nav.isHeader }}"
  isDivider: "{{ nav.isDivider }}"
---
