---
layout: layouts/base.njk
title: Girton Feast
eleventyNavigation:
  key: Home
  order: 1
---

{% include "sections/scrollspy-sidebar.njk" %}

{% include "sections/hero.njk" %}

{% include "sections/headliner.njk" %}
{% include "sections/whats-on.njk" %}
{% include "sections/food-and-drink.njk" %}

{% include "sections/village-fete.njk" %}

{% include "sections/get-involved.njk" %}

{% include "sections/sponsors.njk" %}

{% include "sections/footer-extras.njk" %}
